html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: arial;
    overflow: hidden;
}

.chatbotImage {
    margin-top: 40px;
    width: 35vw;
}

.chatbotOutput {
    font-size: 45px;
}

.chatbotInput {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 55vw;
    padding: 20px;
    font-size: 25px;
}
.ideas {
	width: 33vw;
	font-style: italic;
	background-color: #b3e0ff;
	margin: auto;
}
button {
    padding: 2vw;
    font-size: 15px;
}
button, 
input,
span,
img {
    display: block;
    margin: auto;
    text-align: center;
}